* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #761014;
}

/* header */
.main-container {
margin: 0 auto 0 auto;
width: 1020px;
box-shadow: 0px 0px 10px #dedede;
background: #fff;
height: 200%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 0vw;
    width: 940px;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;

}

/* nav bar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#navbar>.select-menu{
    display: none;
}
#navbar li {
    list-style: none;
    padding: 0 5px 0 20px;

}

#navbar li a {
    text-decoration: none;
    font-size: 14px/20px;
    /* color: #444;     */
    /* margin-bottom: -1px; */
    color: #666666;
    transition: all ease 0.5s;
    cursor: pointer;
}

#navbar li i{
    text-decoration: none;
    font-size: 14px/20px;
    color: #666666;
    transition: all ease 0.5s;
    cursor: pointer;
}

ul#navbar li a:hover, ul#navbar li a:active, ul#navbar li a.home {
    color: #444;
    border-bottom: 1px solid black;
  }



  
 
  
 




















/* Responsive for tab */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    #header{
        width: 768px;
        margin: 0 auto;
    }

    #navbar li{
        display: none;
    }

    #navbar .select-menu{
            display: block;
            clear: both;
            float: right;
            margin-right:5vw;
            padding: 5px 10px;
            width: 30vw;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.22);
            border-radius: 5px;
    }
    .main-container {
        /* margin: 0 auto 0 auto; */
        width: 786px;
        padding: 0 10px;
    }
}

