* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #761014;
}

/* header */
.main-container {
    margin: 0 auto 0 auto;
    width: 1020px;
    box-shadow: 0px 0px 10px #dedede;
    background: #fff;
    height: 300%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 0vw;
    width: 940px;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;

}

/* nav bar */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#navbar>.select-menu {
    display: none;
}

#navbar li {
    list-style: none;
    padding: 0 5px 0 20px;

}

#navbar li a {
    text-decoration: none;
    font-size: 14px/20px;
    /* color: #444;     */
    /* margin-bottom: -1px; */
    color: #666666;
    transition: all ease 0.5s;
    cursor: pointer;
}

#navbar li i {
    text-decoration: none;
    font-size: 14px/20px;
    color: #666666;
    transition: all ease 0.5s;
    cursor: pointer;
}

ul#navbar li a:hover,
ul#navbar li a:active,
ul#navbar li a.home {
    color: #444;
    border-bottom: 1px solid black;
}

/* Hero section */

#hero {
    width: 100%;
    height: auto;
    /* background-color: #3f2f30; */
}

.slider {
    width: 90%;
    height: 400px;
    margin: 20px auto;
    background-image: url('daniel-mccullough-o7BP1GRKk1s-unsplash(1).jpg');
    background-size: cover;
    background-position: center;
    animation: changimg 15s linear infinite;
    transition: all ease 1s;
    margin-bottom: 0;
}


.slider-container .slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes changimg {
    0% {
        background-image: url('images/1.png');
    }

    50% {
        background-image: url('images/3.png');
    }

    75% {
        background-image: url('images/4.png');
    }

    100% {
        background-image: url('images/1.png');
    }
}

#img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.h2-para {
    padding: 40px 15px 10px 15px;
    text-align: center;
    background: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;
    width: 940px;
    margin: 0 auto;
}

.h2-para h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.h2-para p {
    margin-bottom: 20px;
    line-height: 20px;
}

.h2-para a {
    list-style: none;
    text-decoration: none;
    color: #ffb141;
    transition: all ease 0.5s;
}

.h2-para i,
.h2-para a:hover {
    color: black;
}

/* our works */

.title {
    margin-top: 37px;
    width: 92%;
    background: url('https://thecreators.in/images/separator.png') repeat-x;
    height: 25px;
    margin-left: 38px;
}

.title h2 {
    font-size: 18px;
    font-weight: 600;
    float: left;
    height: 25px;
    line-height: 25px;
    background: #fff;
    padding-right: 12px;
}

/*  */

.produt-card-container {
    width: 940px;
    height: 220px;
    /* background-color: #666666; */
    margin-left: 38px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.item1 {
    width: 288px;
    height: auto;
    display: block;
    position: relative;
    padding: 5px;
    /* background: #fff; */
    border: 1px solid #efefef;
    border-radius: 2px;

}

.item1 a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.item1 img {
    width: 100%;
    height: auto;
}

span.title {
    font-size: 14px;
    background: #fff;
    color: #444;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

span.title a {
    color: #444;
    text-decoration: none;
}

/* footer */
#footer {
    overflow: hidden;

    width: 1020px;
    background: #f9f9f9;
    /* background: #464646; */
    color: #000000;
    padding-top: 25px;
    margin: 0 auto;
    border-top: 5px solid #efefef;
    height: 440px;
    margin-top: 40px;
}

.top-footer {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}

.map-section {
    margin-left: 20px;
}

.map-section img {
    margin-top: 20px;
}

.upcom-prod {
    margin-left: 20px;
}

.upcom-prod h3 {
    height: 40px;
}

.upcom-prod marquee {
    width: 220px;
    margin-left: 5px;
    height: 150px;
    font: 14px/20px Open Sans, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-weight: bold;
    color: #000000;
}

.upcom-prod ul {
    list-style: none;
}

.upcom-prod ul li {
    border-bottom: 1px dotted #6b6b6b;
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}



#footer h3 {
    font-size: 15px;
    font-weight: 700;
    
}



ul#contact-item li {
    border-bottom: 1px dotted #6b6b6b;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 10px;
    /* height: 60px; */
    width:25vw;
    line-height: 25px;
    
  }

#footer a{
    color: black;
    list-style: none;
    text-decoration: none;
}





































/* Responsive for tab */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #header {
        width: 768px;
        margin: 0 auto;
    }

    #navbar li {
        display: none;
    }

    #navbar .select-menu {
        display: block;
        clear: both;
        float: right;
        margin-right: 5vw;
        padding: 5px 10px;
        width: 30vw;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.22);
        border-radius: 5px;
    }

    .main-container {
        /* margin: 0 auto 0 auto; */
        width: 786px;
        padding: 0 10px;
    }
}



/* responsive for tab2 device */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    #header {
        width: 455px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3vw 0vw;

    }

    #navbar li {
        display: none;
    }

    #navbar .select-menu {
        display: block;
        clear: both;
        float: right;
        margin: 3vw 3vw;
        margin-left: 5vw;
        padding: 10px 10px;
        width: 30vw;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.22);
        border-radius: 5px;
    }

    .main-container {
        /* margin: 0 auto 0 auto; */
        width: 480px;
        padding: 0 10px;

    }
}










/* responsive for mobile  */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    #header {
        width: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3vw 0vw;

    }

    #navbar li {
        display: none;
    }

    #navbar .select-menu {
        display: block;
        clear: both;
        float: right;
        margin: 2vw 3vw;
        margin-left: 5vw;
        padding: 10px 10px;
        width: 60vw;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.22);
        border-radius: 5px;

    }

    .main-container {
        /* margin: 0 auto 0 auto; */
        width: 320px;
        padding: 0 10px;

    }
}